
ExcelFramework/.DS_Store
.DS_Store
BuildAnyPlatform/Library
ExcelFramework/Library
MemoryCheck/PerfAssist/Library
MemoryCheck/Unity-Technologies-memoryprofiler-e8317df217de/Library
*/Library
*/Temp
*/*.sln
*/*.csproj
*/obj
*/.idea
*/.vscode
*/*/*/Library
*/*/*/*/Library
*/*/Library
*/*/*/*.csproj
*.csproj
UFE/Logs/Packages-Update.log
UFE/Packages/manifest.json
UFE/Packages/manifest.json
UFE/Packages/packages-lock.json
